@page
@model IdentityService.Pages.Login.Index
@{
    var redirectUrl ="http://localhost:3000";
}
<div class="login-page">
    <partial name="_ValidationSummary" />

    @if (Model.View.EnableLocalLogin)
    {
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="card shadow-lg border-0 rounded-4">
                        <div class="card-header bg-transparent border-0 pt-5">
                            <div class="d-flex justify-content-center align-items-center mb-4">
                                <svg width="80px" height="80px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 13.5V5.5C6 4.39543 6.89543 3.5 8 3.5H9.5C10.6046 3.5 11.5 4.39543 11.5 5.5V13.5M6 13.5H18M6 13.5V18.5C6 19.6046 6.89543 20.5 8 20.5H16C17.1046 20.5 18 19.6046 18 18.5V13.5M18 13.5V9.5C18 8.39543 17.1046 7.5 16 7.5H14.5C13.3954 7.5 12.5 8.39543 12.5 9.5V13.5M11.5 13.5H12.5M11.5 13.5V16.5M12.5 13.5V16.5" stroke="#8B0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                                <h1 class="h2 fw-bold text-dark ms-3">Mazad Auctions</h1>
                            </div>
                            @* <h2 class="text-center mb-0 fw-normal">Sign into your account</h2> *@
                        </div>
                        
                        <div class="card-body px-5 py-4">
                            <form asp-page="/Account/Login/Index">
                                <input type="hidden" asp-for="Input.ReturnUrl" />
                                
                                @* <div data-mdb-input-init class="form-outline mb-4"></div>
                    <input type="password" asp-for="Input.Password" id="form2Example27"class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div> *@
                                <div class="form-outline mb-4">
                                    <label asp-for="Input.Username" class="form-label fw-semibold"></label>
                                    <div class="input-group">
                                        @* <span class="input-group-text bg-light border-end-0">
                                            <i class="bi bi-person text-muted"></i>
                                        </span> *@
                                       
                                        <input class="form-control form-control-md" placeholder="Enter your username" asp-for="Input.Username" autofocus>
                                    </div>
                                </div>
                                
                                <div class="mb-4">
                                    <label asp-for="Input.Password" class="form-label fw-semibold"></label>
                                    <div class="input-group">
                                        @* <span class="input-group-text bg-light border-end-0">
                                            <i class="fas fa-lock text-muted"></i>
                                        </span> *@
                                        <input type="password" class="form-control form-control-md" placeholder="Enter your password" asp-for="Input.Password" autocomplete="off">
                                    </div>
                                </div>
                                
                                @if (Model.View.AllowRememberLogin)
                                {
                                    <div class="mb-4">
                                        <div class="form-group">
                                            <input class="form-check-input" type="checkbox" asp-for="Input.RememberLogin">
                                            <label class="form-check-label" asp-for="Input.RememberLogin">
                                                Remember My Login
                                            </label>
                                        </div>
                                    </div>
                                }
                                
                                <div class="pt-1 mb-4">
                    <button  class="btn btn-dark btn-lg btn-block" type="submit" name="Input.Button" value="login">Login</button>
                  </div>
                  <div class="pt-1 mb-4">
                    <a href="@redirectUrl" class="btn btn-outline-dark btn-lg btn-block" type="reset" name="Input.Button" value="cancel">Cancel</a>
                  </div>
                                
                                <div class="text-center pt-3">
                                    <a class="d-block mb-2 text-decoration-none" href="#">
                                        <small>Forgot password?</small>
                                    </a>
                                    <p class="mb-0">
                                        Don't have an account? 
                                        <a asp-page="../Register/Register" asp-route-returnUrl="@Model.Input.ReturnUrl" class="text-decoration-none fw-semibold">
                                            Register here
                                        </a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this request.
        </div>
    }
</div>

